/*
menu
*/
.navbar-inverse{background: #4b86b4;border-radius: 0;border-color: #4b86b4}
.navbar-inverse .navbar-collapse{border-color: #d9d9d9;}
.navbar-inverse .navbar-toggle{border-color: #d9d9d9;}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {background-color: transparent;}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a{color:#ffffff}

/*
painel login
*/
@media (min-width: 992px){
    #row-login{margin-top: -20px;}

}
#panel-login-default{border: none;background: transparent;box-shadow: none;}